body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#wrapper {
	height: 800px;
}

#sky {
	background-color: blue;
	height: 55%;
	width: 100%;
	z-index: 1;
}

#sun {
	background-color: yellow;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	z-index: 2;
	position: relative;
	left: -100px;
}

#word {
	position: fixed;
	font-size: 14em;
	top: 50%;
	left: 25%;
	color: rgb(193, 66, 0);
	text-shadow: rgb(0,0,0) 15px 15px 5px;
	transition-property: text-shadow;
	transition-duration: 5s;
	transition-delay: 1.2s;
}

#ground {
	background-color: green;
	height: 70%;
	width: 100%;
	z-index: 1;
}